@tailwind base;
@tailwind components;
@tailwind utilities;

@import "vars";
@import "fonts";
@import "../fonts/icomoon/style.css";
@import "global";
@import "elements";
@import "typo";

@keyframes spin-y {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.animate-spin-y {
  width: 60px;
  height: 60px;
  animation: spin-y 1s linear infinite;
}

.ant-modal {
  z-index: 1050; 
  position: fixed;
}

